{% extends 'base.html' %}
{% load static %}

{% block title %}Ring Warriors Gym - Necesitas un Couching?{% endblock %}

{% block extra_head %}

{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'img/couch1.jpg' %}" class="card-img-top mx-auto" alt="Coach 1">
                <div class="card-body">
                    <h5 class="card-title">Coach Alex Rodríguez</h5>
                    <p class="card-text">Entrenador profesional con más de 10 años de experiencia en artes marciales mixtas. Especialista en técnicas de defensa personal.</p>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary button_couch" onclick="loadCoachData(0)">Ver Perfil</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'img/couch4.jpg' %}" class="card-img-top mx-auto" alt="Coach 2">
                <div class="card-body">
                    <h5 class="card-title">Coach María González</h5>
                    <p class="card-text">Campeona nacional de boxeo con habilidades excepcionales en el entrenamiento de boxeadores amateurs y profesionales.</p>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary button_couch" onclick="loadCoachData(1)">Ver Perfil</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'img/couch5.jpg' %}" class="card-img-top mx-auto" alt="Coach 3">
                <div class="card-body">
                    <h5 class="card-title">Coach Laura Sánchez</h5>
                    <p class="card-text">Especialista en yoga y mindfulness. Combina técnicas de respiración y meditación para mejorar el bienestar físico y mental de sus alumnos.</p>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary button_couch" onclick="loadCoachData(2)">Ver Perfil</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'img/couch2.jpg' %}" class="card-img-top mx-auto" alt="Coach 4">
                <div class="card-body">
                    <h5 class="card-title">Coach Juan Martínez</h5>
                    <p class="card-text">Experto en entrenamiento funcional y acondicionamiento físico. Ha ayudado a cientos de personas a alcanzar sus objetivos de fitness.</p>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary button_couch" onclick="loadCoachData(3)">Ver Perfil</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'img/couch3.jpg' %}" class="card-img-top mx-auto" alt="Coach 5">
                <div class="card-body">
                    <h5 class="card-title">Coach Diego Pérez</h5>
                    <p class="card-text">Entrenador de halterofilia con un enfoque en el desarrollo de la fuerza y la técnica. Ha entrenado a atletas de nivel internacional.</p>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary button_couch" onclick="loadCoachData(4)">Ver Perfil</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'img/couch6.jpg' %}" class="card-img-top mx-auto" alt="Coach 6">
                <div class="card-body">
                    <h5 class="card-title">Coach Ana López</h5>
                    <p class="card-text">Experta en nutrición deportiva y entrenamiento personalizado. Ayuda a sus clientes a alcanzar sus metas de salud y fitness de manera sostenible.</p>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary button_couch" onclick="loadCoachData(5)">Ver Perfil</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal de Coach -->
<div class="modal fade coach-modal" id="modalCoach" tabindex="-1" role="dialog"
    aria-labelledby="modalCoachLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" id="modalCoachLabel">Perfil del Coach</h4>
                <button type="button" class="close" onclick="cerrarModalCoach()">&times;</button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 left-side">
                        <img src="#" alt="Imagen del Coach" id="coachImage" class="img-fluid">
                    </div>
                    <div class="col-md-6 right-side">
                        <h5 id="coachName"></h5>
                        <p id="coachSpecialty"></p>
                        <p id="coachExperience"></p>
                        <p id="coachCertifications"></p>
                        <p id="coachDescription"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}


{% block extra_js %}
<script src="{% static 'js/couch.js' %}"></script>
{% endblock %}