{% extends 'base.html' %}
{% load static %}

{% block title %}Ring Warriors Gym - Conoce a nuestros peleadores{% endblock %}

{% block extra_head %}

{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'img/imagen_peleador1.jpg' %}" class="card-img-top mx-auto d-block" alt="Imagen del Peleador">
                <div class="card-body">
                    <h5 class="card-title">Martin Vargas</h5>
                    <p class="card-text">País: Chile</p>
                    <p class="card-text">Título: Campeón Mundial de Peso Mediano</p>
                    <p class="card-text">Victorias: 45</p>
                    <p class="card-text">Martin Vargas es una leyenda del boxeo chileno, conocido por su técnica impecable y su resistencia inquebrantable en el ring. Ha defendido su título mundial en numerosas ocasiones, ganándose el respeto de aficionados y rivales por igual.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'img/imagen_peleador2.jpg' %}" class="card-img-top mx-auto d-block" alt="Imagen del Peleador">
                <div class="card-body">
                    <h5 class="card-title">Juan López</h5>
                    <p class="card-text">País: México</p>
                    <p class="card-text">Título: Campeón Mundial de Peso Ligero</p>
                    <p class="card-text">Victorias: 52</p>
                    <p class="card-text">Juan López es un ícono del boxeo mexicano, reconocido por su agresividad en el ring y su habilidad para conectar golpes devastadores. Ha dominado la división de peso ligero durante años, enfrentando y derrotando a algunos de los mejores boxeadores del mundo.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'img/imagen_peleador3.jpg' %}" class="card-img-top mx-auto d-block" alt="Imagen del Peleador">
                <div class="card-body">
                    <h5 class="card-title">Anna Smith</h5>
                    <p class="card-text">País: Estados Unidos</p>
                    <p class="card-text">Título: Campeona Mundial de Peso Pluma</p>
                    <p class="card-text">Victorias: 38</p>
                    <p class="card-text">Anna Smith es una de las boxeadoras más talentosas de Estados Unidos, conocida por su velocidad y agilidad en el ring. Ha dominado la división de peso pluma durante años, ganando numerosas peleas y defendiendo su título con éxito contra oponentes de todo el mundo.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'img/imagen_peleador4.jpg' %}" class="card-img-top mx-auto d-block" alt="Imagen del Peleador">
                <div class="card-body">
                    <h5 class="card-title">André Silva</h5>
                    <p class="card-text">País: Brasil</p>
                    <p class="card-text">Título: Campeón Mundial de Peso Pesado</p>
                    <p class="card-text">Victorias: 41</p>
                    <p class="card-text">André Silva es una fuerza imparable en el mundo del boxeo pesado. Conocido por su fuerza bruta y su capacidad para noquear a sus oponentes, ha dominado la división de peso pesado durante años, consolidándose como uno de los mejores del mundo.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'img/imagen_peleador5.jpg' %}" class="card-img-top mx-auto d-block" alt="Imagen del Peleador">
                <div class="card-body">
                    <h5 class="card-title">Yuki Tanaka</h5>
                    <p class="card-text">País: Japón</p>
                    <p class="card-text">Título: Campeón Mundial de Peso Mosca</p>
                    <p class="card-text">Victorias: 49</p>
                    <p class="card-text">Yuki Tanaka es una sensación del boxeo japonés, conocido por su velocidad y agilidad en el ring. Ha dominado la división de peso mosca durante años, enfrentando y derrotando a algunos de los mejores boxeadores del mundo con su estilo técnico y preciso.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'img/imagen_peleador6.webp' %}" class="card-img-top mx-auto d-block" alt="Imagen del Peleador">
                <div class="card-body">
                    <h5 class="card-title">Maria Garcia</h5>
                    <p class="card-text">País: España</p>
                    <p class="card-text">Título: Campeona Mundial de Peso Wélter</p>
                    <p class="card-text">Victorias: 36</p>
                    <p class="card-text">Maria Garcia es una de las boxeadoras más talentosas de España, conocida por su fuerza y ​​determinación en el ring. Ha dominado la división de peso wélter durante años, enfrentándose a desafíos difíciles y emergiendo como campeona una y otra vez.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
