{% extends 'base.html' %}
{% load static %}

{% block title %}Ring Warriors Gym - Da una mirada a la Tienda{% endblock %}

{% block extra_head %}

{% endblock %}

{% block content %}
<div class="container mt-4 tienda">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'img/guantes1.webp' %}" class="card-img-top mx-auto" alt="guantes 1">
                <div class="card-body">
                    <h5 class="card-title">Guantes de Boxeo Everlast</h5>
                    <p class="card-text">Los guantes de boxeo Everlast son ideales para entrenamientos intensos.
                        Fabricados con materiales duraderos y diseñados para proporcionar protección y comodidad durante
                        tus sesiones de entrenamiento.</p>
                    <p class="text-center">Valor Producto $<span class="card-price">27.000</span> CLP</p>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary button_sale" onclick="handleButtonClick(1, 1)">Más información..</button>
                        <button class="btn btn-primary button_sale" onclick="addProductToCart('Guantes de Boxeo Everlast', 1, 27000, 'guantes1.webp')">
                            <img src="{% static 'img/add_cart.svg' %}" class="card-img-top mx-auto img-shopping-cart" alt="Guantes de Boxeo Everlast">
                            Agregar al carro
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'img/guantes3.png' %}" class="card-img-top mx-auto" alt="guantes 2">
                <div class="card-body">
                    <h5 class="card-title">Guantes de Boxeo Venum</h5>
                    <p class="card-text">Los guantes de boxeo Venum son conocidos por su calidad y estilo. Diseñados
                        para ofrecer un ajuste perfecto y una protección óptima, son la elección ideal para cualquier
                        nivel de boxeador.</p>
                    <p class="text-center">Valor Producto $<span class="card-price">70.000</span> CLP</p>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary button_sale" onclick="handleButtonClick(1, 2)">Más información..</button>
                        <button class="btn btn-primary button_sale" onclick="addProductToCart('Guantes de Boxeo Venum', 1, 70000, 'guantes3.png')">
                            <img src="{% static 'img/add_cart.svg' %}" class="card-img-top mx-auto img-shopping-cart" alt="Guantes de Boxeo Venum">
                            Agregar al carro
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'img/saco01.webp' %}" class="card-img-top mx-auto" alt="guantes 3">
                <div class="card-body">
                    <h5 class="card-title">Saco de Boxeo Profesional</h5>
                    <p class="card-text">Este saco de boxeo profesional está diseñado para resistir incluso los
                        entrenamientos más intensos. Fabricado con materiales de alta calidad y construcción resistente,
                        es perfecto para cualquier gimnasio o sala de entrenamiento.</p>
                    <p class="text-center">Valor Producto $<span class="card-price">105.000</span> CLP</p>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary button_sale" onclick="handleButtonClick(2, 1)">Más información..</button>
                        <button class="btn btn-primary button_sale" onclick="addProductToCart('Saco de Boxeo Profesional', 1, 105000, 'saco01.webp')">
                            <img src="{% static 'img/add_cart.svg' %}" class="card-img-top mx-auto img-shopping-cart" alt="Saco de Boxeo Profesional">
                            Agregar al carro
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'img/cuerda01.jpg' %}" class="card-img-top mx-auto" alt="guantes 4">
                <div class="card-body">
                    <h5 class="card-title">Cuerda de Saltar Profesional</h5>
                    <p class="card-text">La cuerda de saltar profesional es un accesorio esencial para cualquier
                        boxeador. Construida para durar y diseñada para proporcionar un rendimiento óptimo, te ayudará a
                        mejorar tu agilidad, coordinación y resistencia cardiovascular.</p>
                    <p class="text-center">Valor Producto $<span class="card-price">20.000</span> CLP</p>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary button_sale" onclick="handleButtonClick(2, 2)">Más información..</button>
                        <button class="btn btn-primary button_sale" onclick="addProductToCart('Cuerda de Saltar Profesional', 1, 20000, 'cuerda01.jpg')">
                            <img src="{% static 'img/add_cart.svg' %}" class="card-img-top mx-auto img-shopping-cart" alt="Cuerda de Saltar Profesional">
                            Agregar al carro
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'img/venda01.png' %}" class="card-img-top mx-auto" alt="guantes 5">
                <div class="card-body">
                    <h5 class="card-title">Vendas de Boxeo Pro Impact</h5>
                    <p class="card-text">Las vendas de boxeo Pro Impact ofrecen una protección superior para tus manos y
                        muñecas durante tus sesiones de entrenamiento. Fabricadas con materiales de alta calidad,
                        proporcionan un ajuste cómodo y seguro.</p>
                    <p class="text-center">Valor Producto $<span class="card-price">6.000</span> CLP</p>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary button_sale" onclick="handleButtonClick(3, 1)">Más información..</button>
                        <button class="btn btn-primary button_sale" onclick="addProductToCart('Vendas de Boxeo Pro Impact', 1, 6000, 'venda01.png')">
                            <img src="{% static 'img/add_cart.svg' %}" class="card-img-top mx-auto img-shopping-cart" alt="Vendas de Boxeo Pro Impact">
                            Agregar al carro
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'img/pantalon01.jpg' %}" class="card-img-top mx-auto" alt="guantes 6">
                <div class="card-body">
                    <h5 class="card-title">Pantalón de Boxeo Reebok</h5>
                    <p class="card-text">Este pantalón de boxeo Reebok combina estilo y funcionalidad. Diseñado para
                        ofrecer libertad de movimiento y comodidad durante tus entrenamientos, es la elección perfecta
                        para cualquier boxeador.</p>
                    <br />
                    <p class="text-center">Valor Producto $<span class="card-price">32.000</span> CLP</p>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary button_sale" onclick="handleButtonClick(3, 2)">Más información..</button>
                        <button class="btn btn-primary button_sale" onclick="addProductToCart('Pantalón de Boxeo Reebok', 1, 32000, 'pantalon01.jpg')">
                            <img src="{% static 'img/add_cart.svg' %}" class="card-img-top mx-auto img-shopping-cart" alt="Pantalón de Boxeo Reebok">
                            Agregar al carro
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal de Producto -->
<div class="modal fade product-modal" id="modalProducto" tabindex="-1" role="dialog"
    aria-labelledby="modalProductoLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" id="modalProductoLabel">Detalle del Producto</h4>
                <button type="button" class="close" onclick="cerrarModalProducto()">&times;</button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 left-side">
                        <img src="#" alt="Imagen del Producto">
                        <p class="description"></p>
                    </div>
                    <div class="col-md-6 right-side">
                        <h5>Precio: $ <span id="productPrice"></span> CLP</h5>
                        <div class="form-group">
                            <label for="currencySelect">Selecciona la divisa:</label>
                            <select class="form-control small-select" id="currencySelect" onchange="updatePrice()">
                                <option value="CLP" selected="select">CLP - Peso Chileno</option>
                                <option value="USD">USD - Dólar estadounidense</option>
                                <option value="EUR">EUR - Euro</option>
                                <option value="GBP">GBP - Libra esterlina</option>
                                <option value="JPY">JPY - Yen japonés</option>
                            </select>
                        </div>
                        <p>Monto en <span id="finalCurrencySelect"></span> es de <span
                                id="finalCurrencyValue"></span></label>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}