html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

p {
    text-indent: 2em;
    text-align: justify;
}

.row {
    margin-top: 20px !important;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.button_sale{
    height: 65px;
    border-radius: 10px;
}