.modal-header, h4, .close {
    background-color: #5cb85c;
    color: white !important;
    text-align: center;
    font-size: 30px;
}

.modal-footer {
    background-color: #f9f9f9;
}

.coach-modal .left-side {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.coach-modal img {
    max-width: 100%;
    width: 370px;
    height: auto;
    object-fit: cover;
    padding: 10px;
    border-radius: 50px;
    border: 2px solid black;
}